@font-face {
  font-family: 'League Gothic';
  src: url('font/leaguegothic-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/leaguegothic-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('font/leaguegothic-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('font/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg'); /* Legacy iOS */
}
@inbodymargin: 35px;
@darkblue: rgb(7,110,159);

.bluefont {
  font-family: 'League Gothic', sans-serif;
  color: @darkblue;
}
.lightblue {
  color: rgb(34,170,236);
}
body {
  p {
    line-height: 1.5em;
  };
  margin: auto;
  width: 1020px;
  font-family: arial, helvetica, san-serif;
  font-size: 10px;
  color: #5c5c5c;
  background-color: #C1D2DA;
  .site {
    background-color: #ffffff;
  }
  a img {
    border:none;
  }
}
.header {
  padding: 10px @inbodymargin 18px @inbodymargin;
  .title {
    .bluefont;
    text-align: center;
    font-size: 32px;
  };
  .social-icons {
    text-align: right;
    position: relative;
    top: -28px;
  }
  .nav-header {
    text-align: center;
    ul, li {
      display: inline;
      a {
        text-decoration: none;
        padding: 5px 17px;
        color: #707070;
      }
      a.current {
        background-image: url('../images/btn-menu.png');
        color: white;
      }
      a:active {
        color: @darkblue;
      }
      a:hover {
        color: #000000;
      }
    }
  }
}

.top {
  background-image: url("../images/bg-image.jpg");
  height: 435px;
  position: relative;
  text-align: center;
  border-top: solid #22aaec 2px;
  border-bottom: solid #22aaec 2px;
  .slogan {
    .bluefont;
    background-color: #EAEAEA; //for ie8
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 5px;
  };
  .slogan-big {
    .slogan;
    font-size: 60px;
    margin-top:92px;
    padding: 4px 32px;
  };
  .slogan-small {
    .slogan;
    font-size: 30px;
    margin-top:18px;
    padding: 3px 20px;
  }
  .people {
    position: absolute;
    bottom: 0;
    background-color: #2B2C2E; //for ie8
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    .person {
      text-align: left;
      background-color: #EAEAEA; //for ie8
      background-color: rgba(255, 255, 255, 0.8);
      width: 155px;
      height: 70px;
      display:inline-block;
      margin: 25px 33px 25px 47px;
      position: relative;
      img {
        position: absolute;
        left: -36px;
      };
      .comment {
        font-size: 9px;
        font-style: italic;
        padding: 7px 5px 5px 51px;
        p {
          line-height: 1.5em;
        }
      }
      .author {
        padding-left: 51px;
        color: #4F4F4F;
      }
    }
  };
}

.content {
  overflow:hidden;
  padding: 0 @inbodymargin;
  position: relative;
  top: -8px;
  border-bottom: 1px dotted #d5d5d5;
  h2 {
    .bluefont;
    font-size: 22px;
    font-weight: normal;
    margin: 9px 0;
  };
  .sidebar {
    box-sizing: border-box;
    padding-top: 23px;
    width: 200px;
    float: left;
    h3 {
      margin-bottom: 5px;
      padding-top: 3px;
    };
    .about, .related {
      border-bottom: 1px dotted #d5d5d5;
      padding-right: 19px;
      padding-bottom: 25px;
      a {
        color: #515151;
        text-decoration: none;
      }
    };
    .thumb {
      float: left;
      padding-right: 17px;
    }
    .bubbles, p {
      display: inline;
      vertical-align: middle;
      font-style: italic;
    }
    table {
      width: 86%;
      border-spacing: 1px;
      th, td {
        padding: 3px;
      }
      th {
        background-color: @darkblue;
        color: #ffffff;
        font-weight: normal;
      }
      td {
        text-align: center;
        color: @darkblue;
      }
      .odd{
        background-color: #c7e9fa;
      }
      .even {
        background-color: #b1e1f8;
      }
    }
  };
  .main {
    position: relative;
    background-color: #ffffff;
    top: -5px;
    width: 750px;
    float: right;
    box-sizing: border-box;
    border-left: 1px dotted #d5d5d5;
    border-top: solid #22aaec 7px;
    .main-post {
      padding-left: 12px;
      overflow: hidden;
      padding-bottom: 20px;
      border-right: 1px dotted #d5d5d5;
      h1 {
        .bluefont;
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 5px;
      }
      .left-col {
        float: left;
        width: 136px;
      }
      .right-col {
        float: right;
        width: 597px;
        p {
          margin-top: 0;
          margin-bottom: 35px;
        }
        .btn-more {
          float: left;
          font-weight: bold;
          overflow: hidden;
          width: 72px;
          height: 22px;
          background: url('../images/btn-more.png') no-repeat;
          text-align: center;
          padding-top: 6px;
          a {
            text-decoration: none;
            color: #ffffff;
          }
        }
        .social {
          float: right;
          background-color: #90d4f5;
          width: 177px;
          height: 22px;
          padding-top: 6px;
        }
        img, span {
          vertical-align: middle;
          padding-left: 7px;
          color: @darkblue;
          font-weight: bold;
        }
        .extra-strip {
          position: absolute;
          right: -4px;
        }
      }
    }
    .separator {
      border-bottom: 1px dotted #d5d5d5;
    }
    .main-other {
      display: flex; /* equal height of the children */
      position: relative;
      margin-top: 20px;
      .small-post {
        flex: 1;
        margin-left: 12px;
        padding: 16px 0 0 0;
        box-sizing: border-box;
        background-color: #eaeaea;
        border-top-left-radius: 12px;
        .post-header {
          height: 70px;
          padding: 0 30px 0 30px;
          h2 {
            margin-bottom: 0;
          }
        }
        .post-text{
          width: 300px;
          padding: 0 30px 0 30px;
          a, .post-author, .post-date {
            color: @darkblue;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
    .main-other-ie {
      .main-other;
      display: table;
      margin-left: 12px;
      .small-post {
        display: table-cell;
        width: 50%;
        padding-left: 2px;
        border-right: solid white 12px;
      }
    }
    .social-strip {
      height: 30px;
      background-color: #f4f3f3;
      float: left;
      margin-left: 12px;
      width: 362px;
      padding-left: 265px;
      box-sizing: border-box;
      padding-top: 7px;
      img, span {
        vertical-align: middle;
        padding-left: 7px;
        color: #076e9f;
        font-weight: bold;
      }
    }
    .post-shadow {
      background-image: url("../images/post-shadow.png");
      background-repeat: no-repeat;
      float: left;
      margin-left: 12px;
      width: 362px;
      height: 9px;
    }
    .banner {
      margin-top: 60px;
      margin-left: 12px;
      clear: left;
      padding: 15px 0;
      font-size: 12px;
      text-align: center;
      background: #eaeaea;
      background: -webkit-linear-gradient(#e8e7e7, #f4f3f3); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#e8e7e7, #f4f3f3); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#e8e7e7, #f4f3f3); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#e8e7e7, #f4f3f3); /* Standard syntax */

    }
    .banner-shadow {
      background-image: url("../images/banner-shadow.png");
      background-repeat: no-repeat;
      margin-left: 12px;
      width: 738px;
      height: 9px;
    }
  }
}
.map-header {
  h1 {
      .bluefont;
      font-size: 32px;
      font-weight: normal;
    margin: 0 @inbodymargin 5px @inbodymargin;
    }
}
#map-canvas {
  width: 1020px;
  height: 200px;
  box-shadow: 0px -2px 3px -1px #888888, 0px 2px 3px -1px #888888
}

.footer {
  margin: 0 @inbodymargin;
  padding: 15px 0 15px 0;
  box-sizing: border-box;
  border-bottom: 1px dotted #d5d5d5;
  overflow: hidden;
  .title-small {
    .bluefont;
    font-size: 16px;
    float: left;
    padding-left: 5px;
  }
  .nav-footer {
    float: right;
    padding: 4px 0;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;
      li {
        display: inline;
        padding-left: 18px;
        padding-right: 5px;
        a {
          text-decoration: none;
          color: #707070;
        }
        a:hover {
          color: #000000;
        }
      }
    }
  }
}
.rights {
  clear: both;
  text-align: center;
  padding: 13px 0 10px 0;
}