@font-face {
  font-family: 'League Gothic';
  src: url('font/leaguegothic-regular-webfont.eot');
  /* IE9 Compat Modes */
  src: url('font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/leaguegothic-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('font/leaguegothic-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  /* Legacy iOS */
}
.bluefont {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
}
.lightblue {
  color: #22aaec;
}
body {
  margin: auto;
  width: 1020px;
  font-family: arial, helvetica, san-serif;
  font-size: 10px;
  color: #5c5c5c;
  background-color: #C1D2DA;
}
body p {
  line-height: 1.5em;
}
body .site {
  background-color: #ffffff;
}
body a img {
  border: none;
}
.header {
  padding: 10px 35px 18px 35px;
}
.header .title {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  text-align: center;
  font-size: 32px;
}
.header .social-icons {
  text-align: right;
  position: relative;
  top: -28px;
}
.header .nav-header {
  text-align: center;
}
.header .nav-header ul,
.header .nav-header li {
  display: inline;
}
.header .nav-header ul a,
.header .nav-header li a {
  text-decoration: none;
  padding: 5px 17px;
  color: #707070;
}
.header .nav-header ul a.current,
.header .nav-header li a.current {
  background-image: url('../images/btn-menu.png');
  color: white;
}
.header .nav-header ul a:active,
.header .nav-header li a:active {
  color: #076e9f;
}
.header .nav-header ul a:hover,
.header .nav-header li a:hover {
  color: #000000;
}
.top {
  background-image: url("../images/bg-image.jpg");
  height: 435px;
  position: relative;
  text-align: center;
  border-top: solid #22aaec 2px;
  border-bottom: solid #22aaec 2px;
}
.top .slogan {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  background-color: #EAEAEA;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 5px;
}
.top .slogan-big {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  background-color: #EAEAEA;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 5px;
  font-size: 60px;
  margin-top: 92px;
  padding: 4px 32px;
}
.top .slogan-small {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  background-color: #EAEAEA;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 5px;
  font-size: 30px;
  margin-top: 18px;
  padding: 3px 20px;
}
.top .people {
  position: absolute;
  bottom: 0;
  background-color: #2B2C2E;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.top .people .person {
  text-align: left;
  background-color: #EAEAEA;
  background-color: rgba(255, 255, 255, 0.8);
  width: 155px;
  height: 70px;
  display: inline-block;
  margin: 25px 33px 25px 47px;
  position: relative;
}
.top .people .person img {
  position: absolute;
  left: -36px;
}
.top .people .person .comment {
  font-size: 9px;
  font-style: italic;
  padding: 7px 5px 5px 51px;
}
.top .people .person .comment p {
  line-height: 1.5em;
}
.top .people .person .author {
  padding-left: 51px;
  color: #4F4F4F;
}
.content {
  overflow: hidden;
  padding: 0 35px;
  position: relative;
  top: -8px;
  border-bottom: 1px dotted #d5d5d5;
}
.content h2 {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  font-size: 22px;
  font-weight: normal;
  margin: 9px 0;
}
.content .sidebar {
  box-sizing: border-box;
  padding-top: 23px;
  width: 200px;
  float: left;
}
.content .sidebar h3 {
  margin-bottom: 5px;
  padding-top: 3px;
}
.content .sidebar .about,
.content .sidebar .related {
  border-bottom: 1px dotted #d5d5d5;
  padding-right: 19px;
  padding-bottom: 25px;
}
.content .sidebar .about a,
.content .sidebar .related a {
  color: #515151;
  text-decoration: none;
}
.content .sidebar .thumb {
  float: left;
  padding-right: 17px;
}
.content .sidebar .bubbles,
.content .sidebar p {
  display: inline;
  vertical-align: middle;
  font-style: italic;
}
.content .sidebar table {
  width: 86%;
  border-spacing: 1px;
}
.content .sidebar table th,
.content .sidebar table td {
  padding: 3px;
}
.content .sidebar table th {
  background-color: #076e9f;
  color: #ffffff;
  font-weight: normal;
}
.content .sidebar table td {
  text-align: center;
  color: #076e9f;
}
.content .sidebar table .odd {
  background-color: #c7e9fa;
}
.content .sidebar table .even {
  background-color: #b1e1f8;
}
.content .main {
  position: relative;
  background-color: #ffffff;
  top: -5px;
  width: 750px;
  float: right;
  box-sizing: border-box;
  border-left: 1px dotted #d5d5d5;
  border-top: solid #22aaec 7px;
}
.content .main .main-post {
  padding-left: 12px;
  overflow: hidden;
  padding-bottom: 20px;
  border-right: 1px dotted #d5d5d5;
}
.content .main .main-post h1 {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 5px;
}
.content .main .main-post .left-col {
  float: left;
  width: 136px;
}
.content .main .main-post .right-col {
  float: right;
  width: 597px;
}
.content .main .main-post .right-col p {
  margin-top: 0;
  margin-bottom: 35px;
}
.content .main .main-post .right-col .btn-more {
  float: left;
  font-weight: bold;
  overflow: hidden;
  width: 72px;
  height: 22px;
  background: url('../images/btn-more.png') no-repeat;
  text-align: center;
  padding-top: 6px;
}
.content .main .main-post .right-col .btn-more a {
  text-decoration: none;
  color: #ffffff;
}
.content .main .main-post .right-col .social {
  float: right;
  background-color: #90d4f5;
  width: 177px;
  height: 22px;
  padding-top: 6px;
}
.content .main .main-post .right-col img,
.content .main .main-post .right-col span {
  vertical-align: middle;
  padding-left: 7px;
  color: #076e9f;
  font-weight: bold;
}
.content .main .main-post .right-col .extra-strip {
  position: absolute;
  right: -4px;
}
.content .main .separator {
  border-bottom: 1px dotted #d5d5d5;
}
.content .main .main-other {
  display: flex;
  /* equal height of the children */
  position: relative;
  margin-top: 20px;
}
.content .main .main-other .small-post {
  flex: 1;
  margin-left: 12px;
  padding: 16px 0 0 0;
  box-sizing: border-box;
  background-color: #eaeaea;
  border-top-left-radius: 12px;
}
.content .main .main-other .small-post .post-header {
  height: 70px;
  padding: 0 30px 0 30px;
}
.content .main .main-other .small-post .post-header h2 {
  margin-bottom: 0;
}
.content .main .main-other .small-post .post-text {
  width: 300px;
  padding: 0 30px 0 30px;
}
.content .main .main-other .small-post .post-text a,
.content .main .main-other .small-post .post-text .post-author,
.content .main .main-other .small-post .post-text .post-date {
  color: #076e9f;
  text-decoration: none;
  font-weight: bold;
}
.content .main .main-other-ie {
  display: flex;
  /* equal height of the children */
  position: relative;
  margin-top: 20px;
  display: table;
  margin-left: 12px;
}
.content .main .main-other-ie .small-post {
  flex: 1;
  margin-left: 12px;
  padding: 16px 0 0 0;
  box-sizing: border-box;
  background-color: #eaeaea;
  border-top-left-radius: 12px;
}
.content .main .main-other-ie .small-post .post-header {
  height: 70px;
  padding: 0 30px 0 30px;
}
.content .main .main-other-ie .small-post .post-header h2 {
  margin-bottom: 0;
}
.content .main .main-other-ie .small-post .post-text {
  width: 300px;
  padding: 0 30px 0 30px;
}
.content .main .main-other-ie .small-post .post-text a,
.content .main .main-other-ie .small-post .post-text .post-author,
.content .main .main-other-ie .small-post .post-text .post-date {
  color: #076e9f;
  text-decoration: none;
  font-weight: bold;
}
.content .main .main-other-ie .small-post {
  display: table-cell;
  width: 50%;
  padding-left: 2px;
  border-right: solid white 12px;
}
.content .main .social-strip {
  height: 30px;
  background-color: #f4f3f3;
  float: left;
  margin-left: 12px;
  width: 362px;
  padding-left: 265px;
  box-sizing: border-box;
  padding-top: 7px;
}
.content .main .social-strip img,
.content .main .social-strip span {
  vertical-align: middle;
  padding-left: 7px;
  color: #076e9f;
  font-weight: bold;
}
.content .main .post-shadow {
  background-image: url("../images/post-shadow.png");
  background-repeat: no-repeat;
  float: left;
  margin-left: 12px;
  width: 362px;
  height: 9px;
}
.content .main .banner {
  margin-top: 60px;
  margin-left: 12px;
  clear: left;
  padding: 15px 0;
  font-size: 12px;
  text-align: center;
  background: #eaeaea;
  background: -webkit-linear-gradient(#e8e7e7, #f4f3f3);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e8e7e7, #f4f3f3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e8e7e7, #f4f3f3);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e8e7e7, #f4f3f3);
  /* Standard syntax */
}
.content .main .banner-shadow {
  background-image: url("../images/banner-shadow.png");
  background-repeat: no-repeat;
  margin-left: 12px;
  width: 738px;
  height: 9px;
}
.map-header h1 {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  font-size: 32px;
  font-weight: normal;
  margin: 0 35px 5px 35px;
}
#map-canvas {
  width: 1020px;
  height: 200px;
  box-shadow: 0px -2px 3px -1px #888888, 0px 2px 3px -1px #888888;
}
.footer {
  margin: 0 35px;
  padding: 15px 0 15px 0;
  box-sizing: border-box;
  border-bottom: 1px dotted #d5d5d5;
  overflow: hidden;
}
.footer .title-small {
  font-family: 'League Gothic', sans-serif;
  color: #076e9f;
  font-size: 16px;
  float: left;
  padding-left: 5px;
}
.footer .nav-footer {
  float: right;
  padding: 4px 0;
}
.footer .nav-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.footer .nav-footer ul li {
  display: inline;
  padding-left: 18px;
  padding-right: 5px;
}
.footer .nav-footer ul li a {
  text-decoration: none;
  color: #707070;
}
.footer .nav-footer ul li a:hover {
  color: #000000;
}
.rights {
  clear: both;
  text-align: center;
  padding: 13px 0 10px 0;
}
